{%extends 'base.html'%}

{%block body_block%}
<div class="row mt-3">
<div class="card text-center">
    <div class="card-header">
        Product Details
    </div>
    <div class="card-body">
        <img src="{{order.product.image.url}}" alt="">
        <h5 class="card-title">{{order.product.mobile_name}}</h5>
        <p class="card-text">{{order.product.price}}</p>

    </div>
    <div class="card-footer text-muted">
    </div>
</div>
</div>



<div class="row mt-3">
    <div class="card text-center">
    <div class="card-header">
        User Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{order.user}}</h5>
        <p class="card-text">{{order.user.email}}</p>
        <p class="card-text">{{order.address}}</p>

    </div>
    <div class="card-footer text-muted">
    </div>
</div>

</div>

{%endblock%}