{%extends 'cust_base.html'%}

{%block body_block%}

<div class="row mt-3 px-3">


    <div class="card mb-3" style="max-width: 540px;">
        <div class="row">
            <div class="col-md-4 g-4">
                {%if request.user.customer.profile_pic%}
                <img src="{{request.user.customer.profile_pic.url}}" class="card-img-top">
                {%endif%}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> {{request.user}}</h5>
                    <h6 class="card-title">{{request.user.email}}</h6>
                    <p class="card-text">address: {{request.user.customer.address}}</p>
                    <p class="card-text">phone no: {{request.user.customer.phone_no}}</p>


                    <br><br>
                    <a class="btn btn-info" href="">Edit</a>
                </div>
            </div>
        </div>

    </div>

</div>


{%endblock%}